
<div class="login-form-container">
  <h2>Create Category</h2>
  <%= simple_form_for [@user_category] do |f| %>
    <%= f.input :name %>
    <%= f.submit "Submit category", class: "btn btn-green" %>
  <% end %>
</div>
