<div class="wrapper">
  <h2 class="text-center pb-3">My bookmarks:</h2>

  <div>
      <% @searches.each do |search| %>

        <div class= "index-card">
          <p> <strong><%=search.website_name%></strong></p>
          <p> <%= search.website_url %></p>
          <%# <p>Rating: <%= search.rating % >/10 </p> %>
        </div>
      <% end %>
    </div>

</div>
