<div class="wrapper">
  <h2 class="text-center pb-3">My bookmarks:</h2>

  <div>
      <% @bookmarks.each do |bookmark| %>

        <div class= "index-card">
          <p> <%= bookmark.website_url %></p>
          <%# <p>Rating: <%= search.rating % >/10 </p> %>
        </div>
      <% end %>
    </div>
  <div style="text-align:center" class= "mt-5";>
    <%= link_to "Search again", searches_path, class: "btn-green" %>
  </div>
</div>
