// Define variables for your color scheme

// For example:
$cream: #EDECD8;
$lightcream: #F3F5ED;
$black: #000000;
$lightgreen: #B6D9C9;
$darkgreen: #88C5A8;
$yellow: #E8DA75;
$white: #FFFFFF;
$darker_green: #559376;
