<div class="searching">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <h2 class="animated-text" data-text="Analaysing...">Analaysing...</h2>
  <div class="spinner">
  </div>
  <%= image_tag "search.png", alt: "search" %>
</div>
