<div>
  <h3><%= @search.website_url %></h3>
</div>

<p>Search results</p>
<ul>
  <li>Trustpilot Verification : <%= @search.trustpilot_verification %></li>
  <li>ScamDoc Score : <%= @search.scandoc %></li>
  <li>HTTPS Presence : <%= @search.https %></li>
</ul>
