.btn-yellow {
  padding: 5px 70px;
  background-color: #E8DA75;
  font-size: 16px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  text-decoration: none;

}


.btn-green {
  padding: 5px 70px;
  background-color: $lightgreen;
  font-size: 16px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
}
