.btn-blue {
  padding: 5px 70px;
  background-color: $blue;
  font-size: 16px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  text-decoration: none;

}


.btn-green {
  padding: 5px 70px;
  background-color: $black;
  font-size: 16px;
  border-radius: 5px;
  display: inline-block;
  color: white;
  text-decoration: none;
}
