.form-inputs {
  // display: flex;
  // justify-content: center;
  // background-color: red;
  // border-radius: 10px;
  // border: none;
  // width: 285px;
  // height: 60px;
  // border: 0.5px solid black;

  // border-radius: 20px;
  // height: 50px;

}

.form-bookmark {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
  input {
    background-color:#87DEFF;
    border: #87DEFF;
    border-radius: 5px;
    }
}
.form-bookmark a {
  color: rgb(75, 13, 13);
  margin-top: 5px;
}

 select {
  margin-bottom: 5px;
  padding: 5px;
}
