.index-card {
  height: auto;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 18px;
  padding: 5px;
  align-items: center;
  text-align: center;
  background-color: $yellow;
}

.index-card p {
  margin: 0;
}


#top-searches {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

#info-search {
  margin-top: 11px;
  margin-bottom: 30px;

}


#lupa {
  padding: 12px;
  border-radius: 10px;
  font-size: 20px;
}
