.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  width: 90%;
  padding-top: 20px;
  border-bottom: 0.5px solid lightgrey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 125px;
  justify-content: center;
  padding-left: 20px;
}

.navbar-toggler {
  border: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
